.coursebox {
  background: #ffffff;
  box-shadow: 0px 2.14px 10.7px 0px #00000026;
  width: 330px;
  border-radius: 8px;
  position: relative;
  padding: 0px 0px 12px 0px;
}
.courseheadingbox {
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
  gap: 20px;
  margin-left: 6px;
}
.courseheadingbox h2 {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
}
.p {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 13.5px;
  line-height: 24px;
  text-align: left;
  margin-left: 30px;
  color: #515151;
  margin-top: 12px;
}
.courseibox2 {
  display: flex;
  gap: 20px;
  margin-left: 30px;
  margin-top: 8px;
}
.courseminibox {
  display: flex;
}
.coursepara {
  font-family: "Poppins", sans-serif;
  font-size: 11.16px;
  font-weight: 500;
  line-height: 19px;
  color: #000000;
}
.courseminibox2 {
  margin-left: 30px;
  margin-top: 8px;
}
.coursebox button {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 17px;
  text-align: center;
  color: #ffffff;
  background: #0038a3cc;
  border-radius: 6px;
  padding: 4px 35px;
  position: relative;
  left: 223px;
}
.frecourse {
  text-decoration: none;
}
