span {
  color: #505ee2;
}

.card {
  display: flex;
  justify-content: space-around;
}

.contents {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  font-family: "Poppins", sans-serif;
  font-weight: Normal;
  font-size: 16px;
}

.cardcontents {
  width: 69%;
  height: 666px;
  display: flex;
  flex-direction: column;
  margin: 10px 50px 100px 150px;
}

h1 {
  font-size: 27px;
  margin: 10px 0 25px 25px;
}
