.hcontnaire {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 9px 100px 0px 50px;
}
.blue {
  font-family: "Leckerli One", cursive;
  font-weight: 400;
  font-size: 50px;
  color: #3f84f6;
}
.yellow {
  font-family: "Leckerli One", cursive;
  font-weight: 400;
  font-size: 50px;
  color: #f8a400;
}
.icons {
  display: flex;
  align-items: center;
  gap: 30px;
}
.iconstyle {
  width: 30px;
  height: 28px;
}
.profile {
  background: #d9d9d9;
  border-radius: 50px;
  width: 54px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.profile img {
}
