.testimonial {
  margin-top: 120px;
  display: flex;
  justify-content: center;
}
.testi img {
  width: 100%;
}
.maincont {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.minicont {
  width: 50%;
}
.minicont img {
  width: 100%;
}
.minicont2 {
  background: whitesmoke;
  padding: 66px;
  border-radius: 24px;
  position: relative;
  right: 60px;
  display: flex;

  gap: 30px;
  width: 47%;
  height: fit-content;
  box-shadow: 0px 14px 37px -10px #b2b2b22b;
}
.tpara {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: #5e5e5e;
}
.maincont2 {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  gap: 45px;
}
.maincont3 {
  margin-top: 150px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.pagl img {
  width: 70%;
}
.pagl button {
  display: inline;
}
.maincont3 img {
  width: 100%;
}
.testibutton {
  margin-top: -60px;
  padding-bottom: 70px;
}
