.card{
    border-radius: 16px;
  padding: 40px 30px 10px 30px;
    width: 340px;
    min-width: 340px;
    box-shadow: 0px 4px 4px 0px #00000040;
    background: #FFFFFF;


}
.cardpara{
    margin-top: 20px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
}