.dashpathcont h2{
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #252733;
    line-height: 27px;
    padding-top: 23px;
    margin-left: 30px;
}
.dashbox{
    border: 1px solid #D9D9D9 ;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px #00000040;
    margin-left: 30px;
    margin-top: 17px;
    width: 88%;

}
.dashdata h3{
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #252733;
    line-height: 24px;
}
.dashmini{
    display: flex;
    gap: 15px;
    margin: 20px 0px 20px 18px;
}
.dashprofile{
    margin-top: 7px;
    display: flex;
    gap: 5px;
    align-items: center;
}
.dpara{
    font-family: "DM Sans", sans-serif;
    font-size: 12px;
    font-weight: 400;
    color:  #7B7B7B;
    line-height: 15.62px;
}
