.dascont{
    margin-top: 75px;
    display: flex;  
}
.Dashpathcont{
    margin-bottom: 103px;
    width: 44%;
}
.Dashpathcont{
    display: flex;
    flex-direction: column;
    gap: 35px;
}
.reco{
    width: 30%;
    background: #FFFFFF;
    border-radius: 15px;
    margin-bottom: 102px;
    margin-left: 35px;
    box-shadow: 0px 4px 4px 0px #00000040;

}
.reco p{
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 700;
    color:#000000;
    margin-top:30px ;
    margin-left: 30px;
}