.hcontnaire{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 100px 0px 50px;
}
.logo p{
    font-family: "Leckerli One", cursive;
  font-weight: 400;
  font-size: 50px;
}
.blue{
    color: #3F84F6;
}
.yellow{
  color: #F8A400;  
}
.icons{
    display: flex;
    align-items: center;
    gap: 30px;
}
.iconstyle{
    width: 30px;
    height: 28px;
}
.profile{
    background:#D9D9D9;
    border-radius: 50px;
    width: 54px;
   height: 50px;
   display: flex;
    align-items: center;
    justify-content: center;
  
}
.profile img{
    
}
