@import "./style.css/Header.css";
@import "./style.css/Herosection.css";
@import "./style.css/Landing.css";
@import "./style.css/Card.css";
*{
    margin: 0;
    padding: 0;
}
body{
    background:#F2F2F2;
}